#    # Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

# Languages used by data scientists are as follows
- Python
- Java
- Scala
- C++

# Some of the commonly used libraries used by Data Scientists include:
 - Pandas
 - Numpy
 - Matplotlib
 - Plotly

### Data Science tools
| Data Science tools |
| -------|
| Jupyter note books |
| R STudio | 
| Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
9+6

15

In [13]:
8-5

3

In [14]:
6+5*8

46

In [15]:
(3*4)+5

17

In [20]:
minutes = 200 % 60
hours = 200 // 60

In [25]:
print (hours,"hours", minutes,"minutes")

3 hours 20 minutes


**Objectives**  
1. Data Science languages
2. Data science libraries
3. Data science tools
4. arithmatic expressions
5. multiplications

## Author
Muhammad Nadeem